# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator (I think)
*.qmlproject.user
*.qmlproject.user.*
*.creator.user
*.creator
*.includes
*.config
*.creator
*.includes


# QtCtreator CMake
CMakeLists.txt.user

build/
_trash/

